<h1>Login</h1>
<div class="row">
    <form #loginForm="ngForm" class="example-form" (submit)="login()" novalidate>
        <md-form-field >
            <input type="text" appHover class="example-full-width" mdInput placeholder="User Name" [(ngModel)]='user.userName' name="username" required>
        </md-form-field>
        <md-form-field>
            <input type="password"  appHover class="example-full-width"  mdInput placeholder="Password" [(ngModel)]='user.password' name="password" required>
        </md-form-field>
        <div>
            <button type="submit" [disabled]="!loginForm.valid"  md-raised-button color="primary">Login</button>
        </div>
    </form>
</div>